{
    servers {
        protocols h1 h2 h2c
    }
}

# Proxy server for fileserver access
localhost:443 {
    bind 127.0.0.1
    tls /etc/caddy/caddy-cert.pem /etc/caddy/caddy-key.pem
    reverse_proxy {$release_svc}:443 {
        header_up Authorization "Bearer {$release_token}"
        header_up Host {upstream_hostport}

        transport http {
            tls
        }
     }
}

# Proxy server for fileserver access (duplicate)
localhost:3443 {
    bind 127.0.0.1
    tls /etc/caddy/caddy-cert.pem /etc/caddy/caddy-key.pem
    reverse_proxy files-rs.internal.ledgepark.intel.com:443 {
        header_up Authorization "Bearer {$release_token}"
        header_up Host {upstream_hostport}

        transport http {
            tls
        }
     }
}


# Proxy server for OCI release service
localhost:7443 {
    bind 127.0.0.1 
    tls /etc/caddy/caddy-cert.pem /etc/caddy/caddy-key.pem
    reverse_proxy {$oci_release_svc}:443 {
        header_up Authorization "Bearer {$release_token}"
        header_up Host {upstream_hostport}

        transport http {
            tls
        }
    }
}

# Proxy server for FDO manufacturer service
localhost:8081 {
    bind 127.0.0.1 
    tls /etc/caddy/caddy-cert.pem /etc/caddy/caddy-key.pem
    reverse_proxy {$manufacturer_svc}:443 {
	#header_up Authorization "Bearer {$access_token}"
        header_up Host {upstream_hostport}

        transport http {
            tls
            tls_server_name {$manufacturer_svc}
        }
    }
}

# Proxy server for FDO owner service
localhost:8082 {
    bind 127.0.0.1 
    tls /etc/caddy/caddy-cert.pem /etc/caddy/caddy-key.pem
    reverse_proxy {$owner_svc}:443 {
        #header_up Authorization "Bearer {$access_token}"
        header_up Host {upstream_hostport}

        transport http {
            tls
            tls_server_name {$owner_svc}
        }
    }
}

# Proxy server(HTTP) to route tink stack routes 
:80 {
    reverse_proxy /tink-stack/* {$tink_stack_svc}:443 {
        header_up Authorization "Bearer {$access_token}"
        header_up Host {upstream_hostport}

        transport http {
            tls
            tls_server_name {$tink_stack_svc}
        }
    }
}

# GRPC Proxy server for tink server
:42113 {
    reverse_proxy {$tink_server_svc}:443 {
        header_up Authorization "Bearer {$access_token}"
        header_up Host {upstream_hostport}

        transport http {
            tls
            tls_server_name {$tink_server_svc}
        }
    }
}

# Server to route fluent-bit logs to Loki/Grafana
localhost:24224 {
    bind 127.0.0.1 
    tls /etc/caddy/caddy-cert.pem /etc/caddy/caddy-key.pem
    reverse_proxy {$logging_svc}:443 {
        header_up Authorization "Bearer {$access_token}"
        header_up Host {upstream_hostport}

        transport http {
            tls
            tls_server_name {$logging_svc}
        }
    }
}
