# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

* @Andrea-Campanella @cjnolan @damiankopyto @daniele-moro @ikyrycho @jkossak @ktaube26 @niket-intc @osinstom @Paiadhithi @PalashGoelIntel @pierventre @raphaelvrosa @rranjan3 @soniabha-intc @sunil-parida @tmatenko @zdw @AdithyaBaglody @DevipriyaS17 @ipsita-npg @lejin-joy @lodhirax @nbmaiti @ppanigra @punam20 @Ram-srini @rishiraj-intel @shankarsrinivas1 @Shruti-Raj-Vansh-Singh @vthiruveedula
