# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

venv_hook-os
artifacts
device_discovery/app


alpine_image
alpine_image_secureboot

BOOTX64.efi
boot.key
client_auth/files/*.pem
client_auth/scripts/certs/*
gpg_key
grub.cfg
grub_source
sb_keys
