# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

venv*
vendor
out/*
.idea
.vscode
.DS_Store

# artifacts post-tests
# TODO: should we avoid generating these files in the path of the repo?
pkg/script/org_chain.ipxe
pkg/script/sb_keys
pkg/script/hook/cpio_build/etc/hook/env_config
