# SPDX-FileCopyrightText: (C) 2023 Intel Corporation
#
# SPDX-License-Identifier: LicenseRef-Intel

venv_midkammgr
vendor
build/*
.idea
.vscode
.DS_Store

# artifacts post-tests
# TODO: should we avoid generating these files in the path of the repo?
pkg/script/org_chain.ipxe
pkg/script/sb_keys
pkg/script/hook/cpio_build/etc/hook/env_config
pkg/script/jammy-server-cloudimg-amd64.raw.gz
internal/dkammgr/installer.sh
